
 
 <ul data-bind="foreach:data">
    <article>
        <h1 data-bind="text:id"></h1>
        <h1 data-bind="text:name"></h1>
        <h1 data-bind="text:location"></h1>
        <img  data-bind="attr:{src: image}"/>
    </article>

 </ul>

 <!-- <h1 data-bind="foreach:data" id="data"></h1>
    <div data-bind="text:id"></div> -->
    <!-- <div data-bind="text:name"></div> -->


<!--<span data-bind="text: nombre"></span>-->
<br>
<button id="mostrar"  data-bind="click: mostrar" >
    Prueba
</button>
